<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Popular Programming Languages</title>

    <!-- Custom Font - Change 'Muli' to the font you want-->
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="heading-holder">
        <h1>Most Popular Programming Languages</h1>
        <p>This App selects 10 programming language, and shows how many repositories are created in each language on GitHub. For more info click <a href="/about">here</a>.</p>         
      </div>
      <!-- ROW 1-->
      <div class="row">
        <!-- START LINE CHART SECTION -->
        <div class="col-md-12">
          <h4>How the popularity of programming language changes since 2010</h4>
          <div class="buttonsection">
            <button class="btn btn-info btn-sm" type="button" id="percent">Percentage</button>
            <button class="btn btn-info btn-sm" type="button" id="repos">Repositories</button>
          </div>
          <canvas id="lineChart"></canvas>
        </div>
        <!-- END LINE CHART SECTION -->
      </div> 
      <!-- END ROW 1 -->
      <!-- ROW 2 -->
      <div class="row">
        <!-- START DOUGHNUT CHART SECTION -->
        <div class="col-md-12">
          <h4>What's the most popular programming language last month?<span id="update-date"></span></h4>
          <span id="rending"; style="opacity:0.4;font-size:14px;font-weight:700">Getting fresh and shinny informaion...</br>Worth the wait...</span>  
          <div id="doughnutSection">
            <div class="stats-holder">
              Go
              <br>
              <span id="goCount"></span> 
            </div>
            <div class="stats-holder">
              C
              <br>
              <span id="cCount"></span> 
            </div>
            <div class="stats-holder">
              C++
              <br>
              <span id="ccCount"></span> 
            </div>            
            <div class="stats-holder">
              Objective-C
              <br>
              <span id="objCount"></span> 
            </div>
            <div class="stats-holder">
              PHP
              <br>
              <span id="phpCount"></span> 
            </div>            
            <div class="stats-holder">
              Python
              <br>
              <span id="pythonCount"></span> 
            </div>
            <div class="stats-holder">
              Ruby
              <br>
              <span id="rubyCount"></span> 
            </div>            
            <div class="stats-holder">
              Java
              <br>
              <span id="javaCount"></span> 
            </div>                                 
            <div class="stats-holder">
              JavaScript
              <br>
              <span id="jsCount"></span> 
            </div>
            <div class="stats-holder">
              Shell
              <br>
              <span id="shellCount"></span> 
            </div>
          </div>                
          <div class="clear-fix"></div>
          <div class="doughnutChartHolder">
              <!-- DOUGHNUT CHART CANVAS --> 
              <canvas id="doughnutChart"></canvas>
          </div>
        </div>
        <!-- END DOUGHNUT CHART SECTION -->  
      </div>
      <!-- END Row 2 -->
    </div> 
  </body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- CHART JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="main.js"></script>
</html>